@import url('./styles/header.css');
@import url('./styles/banner.css');
@import url('./styles/carousel.css');
@import url('./styles/topics.css');
@import url('./styles/contact.css');
@import url('./styles/footer.css');

:root {
  --background: #EBECEE;
  --white: #fff;
  --orange: #EB9B00;
  --blue: #002F52;
  --black: #000;
  --gray: #474646;
  --light-gray: #858585;
  --blue-gradient: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
  --font-principal: "Poppins", sans-serif;
  --font-second: 'Josefin Sans', sans-serif;
}

body {
  background-color: var(--background); 
  font-family: "var(--font-principal)";
  font-size: 16px;
  font-weight: 400;
}

